<div class="container">
    <div class="jt_row jt_row-fluid row">
        <div class="col-md-12 jt_col column_container">
            <h2 class="section-title">Réservations</h2>
        </div>
        <div class="col-md-6 col-md-offset-3 jt_col column_container">
            <div class="section-subtitle">
                Nous ne prenons malheureusement aucune réservation. Vous pouvez toutefois nous appeler au numéro ci-dessous pour connaître nos emplacements à venir.
            </div>
        </div>
        <div class="col-md-12 jt_col column_container">
            <div class="reservations_logo"></div>
            <div class="voffset40"></div>

            <h4><span class="above">Mother Trucker</span></h4>
            <h3>Appelez-nous</h3>
            <h4><span>Heures d'ouverture</span></h4>
            <div class="voffset50"></div>
            <p>
                <strong>Du lundi au vendredi</strong> : 11h00 - 14h30
                <br/>
                <strong>Samedi et dimanche</strong> : appellez-nous
            </p>
            <h3 class="reservation-phone">07 83 79 82 38</h3>
        </div>
        <div class="col-md-12 jt_col column_container">
            <div class="voffset60"></div>
            <div class="ornament"></div>
        </div>
    </div>

</div>