<div class="container">
    <div class="jt_row jt_row-fluid row">
        <div class="col-md-12 jt_col column_container">
            <h2 class="section-title">Réservations</h2>
        </div>
        <div class="col-md-6 col-md-offset-3 jt_col column_container">
            <div class="section-subtitle">
                <p class="text">
                    Vous organisez une fête pour votre anniversaire, mariage ou tout autre événement, pensez à réserver le <strong>Mother Trucker</strong>.
                    Toujours à votre écoute, nous vous ferons des propositions gourmandes adaptées à vos envies.
                </p>
            </div>
        </div>
        <div class="col-md-12 jt_col column_container">
            <div class="reservations_logo"></div>
            <div class="voffset40"></div>

            <h4><span class="above" style='font-family: "Great Vibes", serif'>{{ adresse }}</span></h4>
            <h3>Appelez-nous</h3>
            <h4><span style='font-family: "Great Vibes", serif'>Heures d'ouverture</span></h4>
            <div class="voffset50"></div>
            <p>
                <strong>lundi, jeudi, vendredi</strong> : 11h00 - 14h30
                <br/>
                <strong>les autres jours</strong> : appelez-nous
            </p>
            <h3 class="reservation-phone">{{ telephone }}</h3>
            <div class="reservation-email">
                <img src="{{ asset('img/email.png') }}"/>
            </div>
        </div>
        <div class="col-md-12 jt_col column_container">
            <div class="voffset60"></div>
            <div class="ornament"></div>
        </div>
    </div>

</div>