<div class="container">
    <ul class="social">
        <li><a href="http://www.facebook.com/mothertrucker.foodtruck" class="icon fb" target="_blank"><i class="fa fa-facebook"></i></a></li>
    </ul>
</div>