<div class="overlay"></div>
<!-- SLIDER IMAGES -->
<div id="owl-main" class="owl-carousel">
    <div class="item"><img src="{{ asset('images/slider/plat3.jpg') }}" alt="Slide 01"></div>
    <div class="item"><img src="{{ asset('images/slider/nous2.jpg') }}" alt="Slide 02"></div>
    <div class="item"><img src="{{ asset('images/slider/camion.jpg') }}" alt="Slide 03"></div>
</div>
<!-- SLIDER CONTENT -->
<div class="slide-content">
    <div class="voffset100"></div>
    <span class="logointro"></span>
    <div id="owl-main-text" class="owl-carousel">
        <div class="item">
            <h2>Des plats savoureux</h2>
        </div>
        <div class="item">
            <h2>Une passion partagée</h2>
        </div>
        <div class="item">
            <h2>Toujours à proximité</h2>
        </div>
    </div>
    <div class="slide-sep"></div>
    <p>Retrouvez ici toutes les informations sur votre food-truck Montpelliérain favori</p>

</div>
<!-- BOTTOM ANIMATED ARROW -->
<a href="#about" class="page-scroll menu-item"><div class="mouse"><span></span></div></a>