<div class="container">
    <div class="jt_row jt_row-fluid row" style="padding-bottom: 100px;">
        <div class="col-md-12 jt_col column_container">
            <div class="voffset50"></div>
            <h2 class="section-title">Notre menu</h2>
            <img class="center menu-logo" src="{{ asset('images/menu_logo.png') }}" alt="Menu Logo">
        </div>


            <div class="col-md-4 jt_col column_container">
                <h3>Nos Formules</h3>
                <ul>
                    <li>
                        Sandwich de brochettes
                        <div class="detail">
                            <label rel="tooltip" title="pain maison, poulet mariné avec ail, gingembre, coriandre, jus de citron, garniture (salade, carotte, chou blanc, coriandre), sauce au fromage blanc au persil et à la menthe">L'asiat</label>,
                            <label rel="tooltip" title="pain maison, bœuf mariné au basilic frais, paprika, cumin, oignon rouge, garniture (salade, poivron grillé, rösti de pomme de terre), sauce caviar d'aubergines">The Biggy</label>,
                            <label rel="tooltip" title="pain maison, poulet mariné au kikkoman, jus de citron, cacahuètes, garniture (salade, pois mange-tout ,carotte, cacahuète), sauce fromage blanc et moutarde a l'ancienne, huile d'olive">Le Chimmy Yeah</label>
                            <span class="price">8 €</span>
                        </div>
                    </li>
                    <li>
                        + frites maisons
                        <div class="detail">
                            pommes de terre
                            <span class="price">9 €</span>
                        </div>
                    </li>
                    <li>
                        + boisson
                        <div class="detail">
                            supplément pour alcool et Arizona
                            <span class="price">10 €</span>
                        </div>
                    </li>
                    <li>
                        + dessert
                        <div class="detail">
                            brownie
                            <span class="price">12 €</span>
                        </div>
                    </li>
                    <li>
                        <hr style="border-top: 3px double #6C839D"/>
                    </li>
                    <li>
                        Salade
                        <div class="detail">
                            <label rel="tooltip" title="boulghour au curcuma, sommités de brocolis, chou rouge, oignons doux et raisins secs caramélisés">Complète</label>,
                            <label rel="tooltip" title="salade, carotte, haricots verts, pois mange-tout, maïs, grains de grenades, radis roses, samossa de chèvre, miel, herbes de provence, vinaigrette aux cacahuètes maison">FreshySoFresh</label>
                            <span class="price">7 €</span>
                        </div>
                    </li>
                    <li>
                        + brochettes
                        <div class="detail">
                            viande marinée
                            <span class="price">9 €</span>
                        </div>
                    </li>
                    <li>
                        + boisson
                        <div class="detail">
                            supplément pour alcool et Arizona
                            <span class="price">10 €</span>
                        </div>
                    </li>
                    <li>
                        + dessert
                        <div class="detail">
                            brownie
                            <span class="price">12 €</span>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-md-4 jt_col column_container">
                <h3>Notre Carte</h3>
                <ul>
                    <li>
                        Plat du jour
                        <div class="detail">
                            tajine de poulet aux olives, tajine d'agneau aux fruits secs, lasagnes, poulet au curry, curry thai
                            <span class="price">8 €</span>
                        </div>
                    </li>
                    <li>
                        La Petite Salade
                        <div class="detail">
                            salade, olives noires, oignons rouges, carottes, vinaigrette maison
                            <span class="price">5 €</span>
                        </div>
                    </li>
                    <li>
                        Frites Maison
                        <div class="detail">
                            pommes de terre
                            <span class="price">2,50 €</span>
                        </div>
                    </li>
                    <li>
                        Desserts
                        <div class="detail">
                            brownie, cookie, gâteau au citron, tarte aux fruits, financier, briouate
                            <span class="price">2,50 €</span>
                        </div>
                    </li>
                    <li>
                        Fruits
                        <div class="detail">
                            fruits de saison
                            <span class="price">1 €</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 jt_col column_container">
                <h3>Nos Boissons</h3>
                <ul>
                    <li>
                        Soda
                        <div class="detail">
                            coca, oasis, nestea
                            <span class="price">2 €</span>
                        </div>
                    </li>
                    <li>
                        Arizona
                        <div class="detail">
                            thé glacé
                            <span class="price">3 €</span>
                        </div>
                    </li>
                    <li>
                        Eau minérale
                        <div class="detail">
                            Evian, Vittel
                            <span class="price">1,50 €</span>
                        </div>
                    </li>
                    <li>
                        Bières
                        <div class="detail">
                            Heineken, BREL
                            <span class="price">3 €</span>
                        </div>
                    </li>
                    <li>
                        Café
                        <div class="detail">
                            expresso, allongé
                            <span class="price">1,50 €</span>
                        </div>
                    </li>
                    <li>
                        Thé à la menthe
                        <div class="detail">
                            <span class="price">1,50 €</span>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>