<div class="container">
    <div class="jt_row jt_row-fluid row" style="padding-bottom: 100px;">
        <div class="col-md-12 jt_col column_container">
            <div class="voffset100"></div>
            <h2 class="section-title">Notre menu</h2>
            <img class="center menu-logo" src="{{ asset('images/menu_logo.png') }}" alt="Menu Logo">
            <div class="voffset100"></div>
        </div>


            <div class="col-md-4 jt_col column_container">
                <h3>Nos Formules</h3>
                <ul>
                    <li>
                        Sandwich de brochettes
                        <div class="detail">
                            viande marinée, pain maison, crudités
                            <span class="price">8 €</span>
                        </div>
                    </li>
                    <li>
                        + frites maisons
                        <div class="detail">
                            pommes de terre
                            <span class="price">9 €</span>
                        </div>
                    </li>
                    <li>
                        + boisson
                        <div class="detail">
                            supplément pour alcool et Arizona
                            <span class="price">10 €</span>
                        </div>
                    </li>
                    <li>
                        + dessert
                        <div class="detail">
                            brownie
                            <span class="price">12 €</span>
                        </div>
                    </li>
                    <li>
                        <hr style="border-top: 3px double #6C839D"/>
                    </li>
                    <li>
                        Salade
                        <div class="detail">
                            crudités, vinaigrette maison
                            <span class="price">7 €</span>
                        </div>
                    </li>
                    <li>
                        + brochettes
                        <div class="detail">
                            viande marinée
                            <span class="price">9 €</span>
                        </div>
                    </li>
                    <li>
                        + boisson
                        <div class="detail">
                            supplément pour alcool et Arizona
                            <span class="price">10 €</span>
                        </div>
                    </li>
                    <li>
                        + dessert
                        <div class="detail">
                            brownie
                            <span class="price">12 €</span>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-md-4 jt_col column_container">
                <h3>Notre Carte</h3>
                <ul>
                    <li>
                        Plat du jour
                        <div class="detail">
                            tajine de poulet aux olives, tajine d'agneau aux fruits secs, lasagnes, poulet au curry, curry thai
                            <span class="price">8 €</span>
                        </div>
                    </li>
                    <li>
                        La Petite Salade
                        <div class="detail">
                            crudités, vinaigrette maison
                            <span class="price">5 €</span>
                        </div>
                    </li>
                    <li>
                        Frites Maison
                        <div class="detail">
                            pommes de terre
                            <span class="price">2,50 €</span>
                        </div>
                    </li>
                    <li>
                        Desserts
                        <div class="detail">
                            brownie, cookie, gâteau au citron, tarte aux fruits, financier, briouate
                            <span class="price">2,50 €</span>
                        </div>
                    </li>
                    <li>
                        Fruits
                        <div class="detail">
                            fruits de saison
                            <span class="price">1 €</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 jt_col column_container">
                <h3>Nos Boissons</h3>
                <ul>
                    <li>
                        Soda
                        <div class="detail">
                            coca, oasis, nestea
                            <span class="price">2 €</span>
                        </div>
                    </li>
                    <li>
                        Arizona
                        <div class="detail">
                            thé glacé
                            <span class="price">3 €</span>
                        </div>
                    </li>
                    <li>
                        Eau minérale
                        <div class="detail">
                            Evian, Vittel
                            <span class="price">1,50 €</span>
                        </div>
                    </li>
                    <li>
                        Bières
                        <div class="detail">
                            Heineken, BREL
                            <span class="price">3 €</span>
                        </div>
                    </li>
                    <li>
                        Café
                        <div class="detail">
                            expresso, allongé
                            <span class="price">1,50 €</span>
                        </div>
                    </li>
                    <li>
                        Thé à la menthe
                        <div class="detail">
                            <span class="price">1,50 €</span>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>