<div class="container">
    <div class="jt_row jt_row-fluid row">
        <span class="column-divider"></span>
        <div class="col-md-12 jt_col column_container">
            <h2 class="section-title"><span class="timetable-decorator"></span><span class="opening-hours">Horaires d'ouverture</span><span class="timetable-decorator2"></span></h2>
        </div>
        <div class="col-md-12 jt_col column_container">
            <div class="section-subtitle">
                Appelez pour connaître nos emplacements
            </div>
        </div>

        <div class="col-md-3 col-md-offset-3 jt_col column_container">
            <div class="section-subtitle days">
                Du lundi au vendredi
            </div>
            <div class="section-subtitle hours">
                11h00
                <br/>
                14h30
            </div>
        </div>


        <div class="col-md-3 jt_col column_container">
            <div class="section-subtitle days">
                Samedi et dimanche<sup>*</sup>
            </div>
            <div class="section-subtitle hours">
                -
            </div>
        </div>
        <div class="col-md-12 jt_col column_container">
            <div class="number">
                Pour réserver : 07 83 79 82 38
                <br/>
                <sup>*</sup> à la demande
            </div>
        </div>

    </div>
</div>