<div class="container">
    <div class="jt_row jt_row-fluid row">
        <div class="voffset20"></div>
        <div class="col-md-12 jt_col column_container">
            <div class="testimonials_img"></div>
            <h2>Nos clients<span>”</span></h2>
        </div>


        <div class="col-md-12 jt_col column_container">
            <div class="testimonials carousel-wrapper with_pagination">
                <div class="owl-carousel generic-carousel">
                    <div class="item">
                        <p>Kikoo lol blablabla</p>
                        <span class="author">Benjamin David</span>
                    </div>
                </div>
            </div>
            <div class="voffset80"></div>
        </div>
    </div>
</div> <!-- End .container -->