


.bluegray .logointro {
    background-image: url('../img/logo.png');
    background-position: center center;
    background-size: cover;
    height: 310px;
}

.bluegray .logo_elixir {
    background-image: url('../img/logo-blanc.png');
    background-size: 187px 55px;
    width: 187px;
    height: 55px;
}

.logo_elixir.dark {
    background-image: url('../img/logo-large.png');
}

.button.contact {
    width: 210px;
}

.section.testimonials {
    background-image: url('../img/pains_blur.jpg')
}

.testimonials .item p {
    color: #141313;
}

.bluegray .reservations_logo {
    background-image: url('../img/short_logo.png');
    background-size: 70px 58px;
}

section.timetable {
    background-image: url('../img/timetable_blur.jpg');
}

.testimonials_img {
    background-image: url('../img/short_logo.png');
    background-size: 150px 110px;
    width: 150px;
}

.reservation-email {
    text-align: center;
}

label {
    /*font-weight: normal;*/
    border-bottom: 1px dashed #c5c5c5;
}

.appear-992 {
    display: none !important;
}

@media only screen and (max-width: 568px) {
    .bluegray .logointro {
        height: 270px;
    }
}

@media only screen and (max-width: 991px) {
    #about .appear-992 {
        display: inline-block;
    }
}